@import './variables';

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;

        margin: 0px;

        .app {
            display: flex;

            flex-direction: column;

            width: 100%;
            height: 100%;

            .header {
                display: block;

                width: 100%;
            }
            .body {
                display: block;

                flex-grow: 1;
                flex-basis: 0;

                width: 100%;
                padding: 2%;
            }
        }
    }
}
