@import 'variables';

.character-screen {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    .explorer {
        display: block;
        flex-grow: 0.1;

        min-width: 150px;

        margin-block-start: 0;
        margin-block-end: 0;

        background-color: $primary-light;
        border: solid 2px $primary-border;

        li {
            display: block;

            padding: 5px;
            width: 100%;
            
            p, b {
                // This prevents changing ul width when changing from p to b
                display: block;
                width: 100%;

                margin: 0px;
                padding: 0px;

                margin-block-start: 0;
                margin-block-end: 0;
            }
        }
    }
    .note-board {
        position: relative;
        display: inline-block;
        flex-grow: 1;

        background-color: $primary-base;
        border: solid 2px $primary-border;
        border-left: 0px;

        .note-wrapper {
            position: absolute;
            display: inline-block;

            .note {
                position: relative;
                display: inline-block;

                left: -50%;

                border: 1px solid $primary-border;
                background-color: $complementary-light;

                .title {
                    display: block;

                    border: none;
                    padding: 2px;

                    background-color: transparent;

                    font-size: 15px;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: bold;
                }
                .body {
                    display: block;

                    border: none;
                    padding: 2px;

                    background-color: transparent;

                    font-size: 12px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
            }
        }
    }
}