@import 'variables';

// TODO: Figure out what shouldnt be hardcoded
.wiki {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    .page {
        display: inline-block;
        height: 100%;
        flex: 1;

        border: 5px solid $primary-border;
        background-color: $primary-light;

        & > .title {
            width: 100%;
            vertical-align: top;

            margin: 0px;
            padding: 5px;

            background-color: $primary-base;

            color: white;
            font-size: 16px;
            font-weight: bold;
            font-family: sans-serif;
        }

        .sections {
            margin: 10px;

            .title {
                margin: 5px 0px 0px 0px;
                border-bottom: 1px solid $primary-border;
                font-family: sans-serif;
            }

            .elements {
                margin-left: 15px;
            }
        }
    }
}
