.element {
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background-color: slategrey;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &:active {
        background-color: slategrey;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.list {
    list-style: none;
    width: fit-content;
    padding: 0;
    background-color: darkgrey;
}